body {
    background-color: #777;
    min-height: 100vh;
}
.titulos {
    background-color: #ECECEC;
    text-align: center;
    padding: 5px 0;
    border-left: 1px #000 solid;
    border-bottom: 1px #000 solid;
}
  
@media screen and (min-width: 769px) {
    .paddingDoc{
        padding-left:34px !important;
        padding-right:34px !important;
    }
}

@media screen and (min-width: 1024px) {
    .paddingDoc{
        padding-left:69px !important;
        padding-right:69px !important;
    }
}