body {
    background-color: #777;
    min-height: 100vh;
}

@media screen and (max-width: 768px) {

}
  
@media screen and (min-width: 769px) {
    .paddingDoc{
        padding-left:34px !important;
        padding-right:34px !important;
    }
}

@media screen and (min-width: 1024px) {
    .paddingDoc{
        padding-left:69px !important;
        padding-right:69px !important;
    }
}