body{
background-color: #777;
}
.pagina {
width: 756px;
margin: 5px auto 50px auto;
padding: 32px 69px 69px 69px;
background-color: #fff;
}
h1{
font-size: 26px;
}
h2{
margin:0px;
font-size:18px;
font-weight:normal;
padding: 0;
}
h3{
margin:0px;
padding:5px 0 5px 0;
display:box;
font-size:20px;
background-color:#ececec;
border-left: 1px solid #000;
border-bottom: 1px solid #000;
}
#print a{
position: fixed;
width: 32px;
height: 32px;
margin-left:724px;
background-image: url('print.png');
background-position: 0 0;
background-repeat: no-repeat;
}
#print a:hover{
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";

  /* IE 5-7 */
  filter: alpha(opacity=60);

  /* Netscape */
  -moz-opacity: 0.6;

  /* Safari 1.x */
  -khtml-opacity: 0.6;

  /* Good browsers */
  opacity: 0.6;
}
address{
font-size: 15px;
padding: 8px 5px 8px 5px;
border-top: double 1px #000;
border-bottom: double 1px #000;
margin-bottom: 8px;
}
li{
margin: 0 0 0 20px;
list-style-type: square;
}
ul{
margin:0px;
padding: 0 0 0 10px;
}
p{
margin: 0px;
padding: 0 5px 5px 5px;
font-size:15px;
}
.center {
margin: 0px auto;
text-align: center;
}
table{
width:100%;
margin: 0 0 10px 0;
font-size:15px;
}
tr{
width:100%;
}
td{
vertical-align:text-top;
padding:0 5px 10px 5px;
}
.justificado{
text-align:justify;
text-justify:inter-word;
}
.width36_{
width:36%;
}
.width42_{
width:42%;
}
li.disc {
list-style-type: disc;
}